<!DOCTYPE html>
<meta charset="UTF-8">
<title>Preview</title>
<link rel="stylesheet" href="preview.css">
<div class=code-preview>
    <input type=checkbox id=code-area1>
    <label for=code-area1
           data-show="Zobraziť"
           data-hide="Skryť"
           data-default="kód"></label>
    <div class=code-area>
        <div data-type="html">
            <pre><span class=code
                               spellcheck=false
                               contenteditable=false>

    <!-- Your HTML code here -->

            </span></pre>
        </div>
        <div data-type="css">
            <pre><style class=code
                                spellcheck=false
                                contenteditable=true>

    /* Your CSS code here */

            </style></pre>
        </div>
    </div>
</div>